version: 2.1

jobs:
  build:
    docker:
      - image: python:3.8
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install -r requirements.txt
      - run:
          name: Install pytest
          command: pip install pytest
      - run:
          name: Run tests
          command: pytest Continuoustest_calc.py

workflows:
  version: 2
  build:
    jobs:
      - build
